@use '../../styles/settings/custom' as *;

.pricing {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 2rem;

  h3,
  h4 {
    color: $brown-dark;
    text-align: center;
  }

  h3 {
    font-weight: 700;
  }

  h4 {
    font-size: 1rem;
  }

  &_grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
